
@mixin flex-row ($gap:0) {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: $gap;
  
}

@mixin flex-column ($gap:0) {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  
}
// animation 

@mixin transitions ($quantity:all,$sec:0.2s) {
    transition: $quantity $sec ease;
}