@use "sass:map";
@use "../abstracts/mixins" as mxn;
@use "../abstracts/variable" as var;

.footer {
  margin-top: map.get(var.$margin-vertical, "medium");
  padding: map.get(var.$padding-horizontal, "medium");
  &__para {
    font-size: map.get(var.$fonts-heading, "03");
  }
}
