@use "sass:map";
@use "../abstracts/variable" as var;
@use "../abstracts/mixins" as mxn;

.header {
  @include mxn.flex-column();
  width: calc(var.$width-full-percent / 1.5);
  padding: 2rem 4rem;
  position: relative;

  .theme__btn {
    position: absolute;
    top: 0;
    right: 4rem;
    width: 8rem;
    border: 0.1rem solid map.get(var.$color-font, "grey");
    border-radius: map.get(var.$border-radius, "small");
    padding: calc(map.get(var.$padding-horizontal, "tiny") / 2)
      map.get(var.$padding-horizontal, "tiny");
    transition: all 0.2s ease;
    cursor: pointer;

    &:active {
      transform: translateY(0.3rem);
    }
  }

  &__heading {
    font-size: map.get(var.$fonts-heading, "01");
  }

  &__para {
    font-size: map.get(var.$fonts-heading, "02");
  }
}
