@use "../abstracts/mixins" as mxn;
@use "../abstracts/variable" as var;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  @include mxn.flex-column();
  background-color: var.$color-theme-light;
  width: var.$width-full-percent;
  height: var.$height-full;
  font-family: "Courier New", Courier, monospace;
}
