// colors

$color-font: (
  "base": white,
  "heading": black,
  "grey": #575757,
);

$color-strategy: #71aee7;
$color-analysis: #e69e17;
$color-implementation: #7fb72a;

// fonts
$fonts-heading: (
  "01": 4rem,
  "02": 2rem,
  "03": 1.4rem,
);

// width
$width-full-view: 100vw;
$width-full-percent: 100%;
$height-full: 100vh;

$border-radius: (
  "big": 6rem,
  "medium": 4rem,
  "small": 2rem,
  "tiny": 1rem,
);

$margin-vertical: (
  "big": 4rem,
  "medium": 2rem,
  "small": 1.2rem,
  "tiny": 0.8rem,
);

$padding-horizontal: (
  "big": 6rem,
  "medium": 4rem,
  "small": 2rem,
  "tiny": 1rem,
);
